body {
    background-color: deepskyblue;
    font-family: roboto;
    animation-name: backGroundAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes backGroundAnimation {
    to {
        background-color: yellowgreen;
    }    
}

