
html {
    font-family: roboto ;
    background-color: lightgray ;
    background: url("gota.png");
}

body {
    background-color: rgb(241, 241, 241);
}

h1 {
    padding: 3px 1px;
    border: powderblue 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

p{
    border: red 2px solid;
    margin: 20px;
    padding-left: 20px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: auto;
    background-color: magenta;
}

.flex-container div {
    background-color: yellow;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border: cyan 2px solid;
    border-radius: 5px;
}